<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <article class="event-detail" itemscope itemtype="https://schema.org/Event">
        <header class="event-detail__header">
            <p class="event-detail__eyebrow">
                <f:if condition="{appointment.event.title}">
                    <f:link.action action="show" controller="Event" arguments="{event: appointment.event}">
                        {appointment.event.title}
                    </f:link.action>
                </f:if>
            </p>

            <h1 class="event-detail__title" itemprop="name">
                <f:if condition="{appointment.title}">
                    <f:then>{appointment.title}</f:then>
                    <f:else>{appointment.event.title}</f:else>
                </f:if>
            </h1>

            <div class="event-detail__meta">
                <f:if condition="{appointment.startDate}">
                    <p class="event-detail__meta-item">
                        <f:if condition="{appointment.allDay}">
                            <f:then>
                                <time itemprop="startDate" datetime="{appointment.startDate -> f:format.date(format: 'c')}">
                                    {appointment.startDate -> f:format.date(format: 'd.m.Y')}
                                </time>
                                <span>(all day)</span>
                            </f:then>
                            <f:else>
                                <time itemprop="startDate" datetime="{appointment.startDate -> f:format.date(format: 'c')}">
                                    {appointment.startDate -> f:format.date(format: 'd.m.Y H:i')}
                                </time>
                                <f:if condition="{appointment.endDate}">
                                    &ndash;
                                    <time itemprop="endDate" datetime="{appointment.endDate -> f:format.date(format: 'c')}">
                                        {appointment.endDate -> f:format.date(format: 'd.m.Y H:i')}
                                    </time>
                                </f:if>
                            </f:else>
                        </f:if>
                    </p>
                </f:if>

                <f:if condition="{appointment.canceled}">
                    <f:then>
                        <p class="event-appointment-card__status event-detail__meta-item">Canceled</p>
                        <meta itemprop="eventStatus" content="https://schema.org/EventCancelled" />
                    </f:then>
                    <f:else>
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
                    </f:else>
                </f:if>

                <f:if condition="{appointment.onlineLink}">
                    <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode" />
                    <p class="event-detail__meta-item">Online Event</p>
                </f:if>
            </div>
        </header>

        <f:if condition="{appointment.event.previewImage}">
            <figure class="event-detail__media">
                <f:image image="{appointment.event.previewImage}" maxWidth="1200" additionalAttributes="{itemprop: 'image'}" />
            </figure>
        </f:if>

        <div class="event-detail__content">
            <f:if condition="{appointment.description}">
                <section class="event-detail__section event-detail__section--description">
                    <h2>Description</h2>
                    <div itemprop="description">
                        <f:format.html>{appointment.description}</f:format.html>
                    </div>
                </section>
            </f:if>

            <f:if condition="{appointment.event.description}">
                <section class="event-detail__section event-detail__section--additional-information">
                    <h2>About the event</h2>
                    <f:format.html>{appointment.event.description}</f:format.html>
                </section>
            </f:if>

            <section class="event-detail__section event-detail__section--facts">
                <h2>At a glance</h2>
                <dl class="event-detail__facts">
                    <f:if condition="{appointment.doorsOpen}">
                        <div class="event-detail__fact">
                            <dt>Doors</dt>
                            <dd>
                                <time itemprop="doorTime" datetime="{appointment.doorsOpen -> f:format.date(format: 'c')}">
                                    {appointment.doorsOpen -> f:format.date(format: 'd.m.Y H:i')}
                                </time>
                            </dd>
                        </div>
                    </f:if>

                    <f:if condition="{appointment.location}">
                        <div class="event-detail__fact">
                            <dt>Location</dt>
                            <dd itemprop="location" itemscope itemtype="https://schema.org/Place">
                                <span itemprop="name">{appointment.location.name}</span>
                            </dd>
                        </div>
                    </f:if>

                    <f:if condition="{appointment.address}">
                        <div class="event-detail__fact">
                            <dt>Address</dt>
                            <dd itemprop="location" itemscope itemtype="https://schema.org/Place">
                                <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                                    <span itemprop="streetAddress">{appointment.address}</span>
                                </span>
                            </dd>
                        </div>
                    </f:if>

                    <f:if condition="{appointment.speakers}">
                        <div class="event-detail__fact">
                            <dt>Performers</dt>
                            <dd itemprop="performer" itemscope itemtype="https://schema.org/Person">
                                <span itemprop="name">{appointment.speakers}</span>
                            </dd>
                        </div>
                    </f:if>

                    <f:if condition="{appointment.maxParticipants}">
                        <div class="event-detail__fact">
                            <dt>Max. participants</dt>
                            <dd itemprop="maximumAttendeeCapacity">{appointment.maxParticipants}</dd>
                        </div>
                    </f:if>

                    <f:if condition="{appointment.contact}">
                        <div class="event-detail__fact">
                            <dt>Contact</dt>
                            <dd itemscope itemtype="https://schema.org/Person">
                                <f:if condition="{appointment.contact.firstName} || {appointment.contact.lastName}">
                                    <f:then>
                                        <span itemprop="name">{appointment.contact.firstName} {appointment.contact.lastName}</span>
                                    </f:then>
                                    <f:else>
                                        <span itemprop="name">{appointment.contact.username}</span>
                                    </f:else>
                                </f:if>
                                <f:if condition="{appointment.contact.email}">
                                    <br />
                                    <a itemprop="email" href="mailto:{appointment.contact.email}">{appointment.contact.email}</a>
                                </f:if>
                                <f:if condition="{appointment.contact.telephone}">
                                    <br />
                                    <a itemprop="telephone" href="tel:{appointment.contact.telephone}">{appointment.contact.telephone}</a>
                                </f:if>
                            </dd>
                        </div>
                    </f:if>

                    <f:if condition="{appointment.event.organizer}">
                        <div class="event-detail__fact">
                            <dt>Organizer</dt>
                            <dd itemprop="organizer" itemscope itemtype="https://schema.org/Person">
                                <f:if condition="{appointment.event.organizer.firstName} || {appointment.event.organizer.lastName}">
                                    <f:then>
                                        <span itemprop="name">
                                            {appointment.event.organizer.firstName} {appointment.event.organizer.lastName}
                                        </span>
                                    </f:then>
                                    <f:else>
                                        <span itemprop="name">{appointment.event.organizer.username}</span>
                                    </f:else>
                                </f:if>
                                <f:if condition="{appointment.event.organizer.email}">
                                    <meta itemprop="email" content="{appointment.event.organizer.email}" />
                                </f:if>
                            </dd>
                        </div>
                    </f:if>

                    <f:if condition="{appointment.onlineLink}">
                        <div class="event-detail__fact">
                            <dt>Online-Link</dt>
                            <dd>
                                <span itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation">
                                    <meta itemprop="url" content="{appointment.onlineLink}" />
                                </span>
                                <a href="{appointment.onlineLink}" target="_blank" rel="noopener noreferrer">Join online</a>
                            </dd>
                        </div>
                    </f:if>
                </dl>
            </section>

            <f:if condition="{appointment.directions}">
                <section class="event-detail__section event-detail__section--additional-information">
                    <h2>Directions</h2>
                    <div class="event-appointment-card__directions">
                        <f:format.nl2br>{appointment.directions}</f:format.nl2br>
                    </div>
                </section>
            </f:if>

            <f:if condition="{appointment.ticketLink}">
                <section class="event-detail__section">
                    <h2>Tickets</h2>
                    <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                        <meta itemprop="availability" content="https://schema.org/InStock" />
                        <meta itemprop="url" content="{appointment.ticketLink}" />
                    </span>
                    <a class="event-card__link" href="{appointment.ticketLink}" target="_blank" rel="noopener noreferrer">Buy tickets</a>
                </section>
            </f:if>

            <f:if condition="{appointment.event.categories}">
                <section class="event-detail__section event-detail__section--categories">
                    <h2>Categories</h2>
                    <ul class="event-detail__tags">
                        <f:for each="{appointment.event.categories}" as="category">
                            <li class="event-detail__tag">{category.title}</li>
                            <meta itemprop="keywords" content="{category.title}" />
                        </f:for>
                    </ul>
                </section>
            </f:if>

            <f:if condition="{appointment.event}">
                <section class="event-detail__section event-detail__section--related-events">
                    <h2>Further appointments for this event</h2>
                    <ul class="event-detail__related-list">
                        <f:for each="{appointment.event.appointments}" as="sibling">
                            <f:if condition="{sibling.uid} != {appointment.uid}">
                                <li>
                                    <f:link.action action="show" controller="EventAppointment" arguments="{appointment: sibling}">
                                        <f:if condition="{sibling.title}">
                                            <f:then>{sibling.title}</f:then>
                                            <f:else>{appointment.event.title}</f:else>
                                        </f:if>
                                        <f:if condition="{sibling.startDate}">
                                            &ndash; {sibling.startDate -> f:format.date(format: 'd.m.Y')}
                                        </f:if>
                                    </f:link.action>
                                </li>
                            </f:if>
                        </f:for>
                    </ul>
                </section>
            </f:if>
        </div>
    </article>
</html>
