<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="SystemEmail" />

    <f:section name="Subject">{subjectLabel}: #{eventUid}</f:section>

    <f:section name="Title">{titleLabel}</f:section>

    <f:section name="Main">
        <p>{introLabel}</p>
        <p>
            {eventUidLabel}:
            <strong>{eventUid}</strong>
            <br />
            <f:if condition="{eventTitle}">
                {eventTitleLabel}:
                <strong>{eventTitle}</strong>
            </f:if>
        </p>
        <p>
            <a href="{eventEditUrl}">{openBackendLabel}</a>
        </p>
    </f:section>
</html>
