<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="SystemEmail" />

    <f:section name="Subject">
        <f:translate key="LLL:EXT:xima_typo3_calendar/Resources/Private/Language/locallang.xlf:email.live.subject" />: #{eventUid}
    </f:section>

    <f:section name="Title">
        <f:translate key="LLL:EXT:xima_typo3_calendar/Resources/Private/Language/locallang.xlf:email.live.title" />
    </f:section>

    <f:section name="Main">
        <p><f:translate key="LLL:EXT:xima_typo3_calendar/Resources/Private/Language/locallang.xlf:email.live.intro" /></p>
        <p>
            <f:translate key="LLL:EXT:xima_typo3_calendar/Resources/Private/Language/locallang.xlf:email.eventUid" />:
            <strong>{eventUid}</strong>
            <br />
            <f:if condition="{eventTitle}">
                <f:translate key="LLL:EXT:xima_typo3_calendar/Resources/Private/Language/locallang.xlf:email.eventTitle" />:
                <strong>{eventTitle}</strong>
            </f:if>
        </p>
        <f:if condition="{changedFieldLabels}">
            <p>
                <f:translate key="LLL:EXT:xima_typo3_calendar/Resources/Private/Language/locallang.xlf:email.live.changedFields" />:
            </p>
            <ul>
                <f:for each="{changedFieldLabels}" as="changedFieldLabel">
                    <li>{changedFieldLabel}</li>
                </f:for>
            </ul>
        </f:if>
        <p>
            <a href="{eventEditUrl}">
                <f:translate key="LLL:EXT:xima_typo3_calendar/Resources/Private/Language/locallang.xlf:email.openBackend" />
            </a>
        </p>
    </f:section>
</html>
