<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="SystemEmail" />

    <f:section name="Subject">Event review requested: #{eventUid}</f:section>

    <f:section name="Title">Event review requested</f:section>

    <f:section name="Main">
        <p>An event has been moved to review status and needs your attention.</p>
        <p>
            Event UID:
            <strong>{eventUid}</strong>
            <br />
            <f:if condition="{eventTitle}">
                Event title:
                <strong>{eventTitle}</strong>
                <br />
            </f:if>
            Reviewer group UID:
            <strong>{reviewerGroupUid}</strong>
        </p>
        <p>
            <a href="{eventEditUrl}">Open event in backend</a>
        </p>
    </f:section>
</html>
