<f:layout name="Default" />

<f:section name="Content">
    <f:be.pageRenderer
    includeCssFiles="{
        0: 'EXT:xima_typo3_calendar/Resources/Public/Css/calendar.css'
    }" />

    <div class="xima-calendar-module">
        <div class="xima-calendar-content">
            <div id="xima-calendar-mount"
                data-calendar-config="{calendarConfig}">
            </div>

            <f:if condition="{enableEventPreview}">
                <section class="xima-calendar-event-detail" aria-label="Kalenderdetails" aria-live="polite">
                    <span class="xima-calendar-event-detail__title"></span>
                </section>
            </f:if>
        </div>
    </div>

</f:section>
